*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.top-banner{
   height: 55vh;
   background:url(../assets/ooty.jpg) no-repeat center;
   background-size: cover;
   position: relative;
   overflow: hidden;
}
.top-banner-img{
   z-index: 99;
}
.top-banner img{
  position: absolute;
 height:250px;
  animation:  carTransform 2s ease-in;                                
}
@keyframes carTransform {
   from{
     transform: translateX(160%);
   }to{
      transform: translateX(-300%);
   }                                   
}
.place-details > p.pt-3::first-letter{
  color: red;
  font-size: 22px;
}
.place-details .details-place{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 5px;
}
.place-details .details-place .place-image{
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.place-details .details-place .place-image img{
   width:100%;
   height:100%;
   border-radius: 10px;
   transition: all 1s ease-out;
}
.place-details .details-place .place-image img:hover{
    transform:scale(1.3);
}
/* kodaikanal-banner-img */
.kodaikanal-banner-img{
   height: 55vh;
   background-size: cover;
   position: relative;
    background: url(../assets/kodaikanal-bg-banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.view-place .place-view{
    max-width:500px;
}
.view-place .place-view p{
    color: chocolate;
}
.view-place .place-view p:hover{
   transform: scale(1.1);
   transition: all 1s ease-out;
   color: orangered;
}
.munnar-banner-img{
   height: 55vh;
   background-size: cover;
   position: relative;
    background: url(../assets/munnar-bg-banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
@media screen and (max-width:1016px){
    .top-banner img{
        height:170px;
    }                               
}