.we-offer{
   position: relative;
}
.we-offer .offer-img{
    width:500px;
    height: 300px;
    /* background: url(../public/img/ooty-img-4.jpg); */
    
}
.we-offer .offer-img img{
    width: 100%;
    height: 100%;
}
.we-offer .offer-details{
    width:500px;
    height: 300px;
   
    position: absolute;
    top: 0;
    transform: scale(0);
}
.we-offer:hover .offer-details{
    transform: scale(1);
    background: #0000009d;
    transition: all 1s ease-in-out;
}
.offer-service {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}
.top-banner-about{
    height: 57vh;
    background-size: cover;
    position: relative;
     background: url(../src/assets/water.gif) bottom;
     background-size: cover;
     position: relative;
}